---
# Source: atlantis/templates/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: atlantis
  namespace: atlantis
  labels:
    app: atlantis
    chart: atlantis-5.28.0
    release: atlantis
    heritage: Helm
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::${flux_workload_account_id}:role/atlantis-irsa
    eks.amazonaws.com/sts-regional-endpoints: "true"
