apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - sources.yaml
  - release.yaml
patches:
  - patch: |
      - op: add
        path: "/spec/values/configuration/backupStorageLocation/-"
        value: { "bucket": "${flux_velero_azure_bucket_name}", "config": { "resourceGroup": "${flux_velero_azure_resource_group}", "storageAccount": "${flux_velero_azure_storage_account}", "subscriptionId": "${flux_velero_azure_subscription_id}" }, "credential": { "key": "cloud", "name": "velero-credentials" }, "name": "azure", "provider": "azure", "accessMode": "${flux_velero_access_mode}" }
    target:
      group: helm.toolkit.fluxcd.io
      kind: HelmRelease
      name: velero
      namespace: velero
