apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - sources.yaml
  - release.yaml
patches:
  - path: patch.json
    target:
      group: helm.toolkit.fluxcd.io
      kind: HelmRelease
      name: velero
      namespace: velero
