apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - external-snapshotter
  - namespace.yaml
  - service-account.yaml
  - secret-store-ssm.yaml
  - external-secret-ssm.yaml
  - secret-store-1password.yaml
  - external-secret-1password.yaml
  - sources.yaml
  - release.yaml
