---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-blue-variant
  namespace: traefik-blue-variant
spec:
  serviceAccountName: helm-controller
  releaseName: traefik-blue-variant
  dependsOn:
    - name: traefik-crds
      namespace: flux-system
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik-blue-variant
  interval: 1m0s
  install:
    crds: Skip
    remediation:
      retries: 3
  values:
    ingressClass:
      enabled: true
      isDefaultClass: false
    ingressRoute:
      dashboard:
        enabled: true
    service:
      enabled: true
      type: NodePort
      labels:
        scrape-service-metrics: "true"
      spec:
        externalTrafficPolicy: Cluster
    ports:
      traefik:
        expose:
          default: true
      websecure:
        expose:
          default: false
      web:
        forwardedHeaders:
          insecure: true
    metrics:
      prometheus:
        service:
          enabled: true
          labels:
            app: traefik-blue-variant-metrics
            scrape-service-metrics: "true"
    logs:
      general:
        level: ERROR
        format: json
      access:
        enabled: true
        filters:
          statuscodes: "300-399,400-499,500-599"
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: true
      kubernetesGateway:
        enabled: true
    gateway:
      listeners:
        web:
          namespacePolicy:
            from: All
    priorityClassName: cluster-infrastructure
    resources:
      requests:
        cpu: 150m
        memory: 512Mi
      limits:
        memory: 512Mi
