---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-blue-variant
  namespace: traefik-blue-variant
spec:
  serviceAccountName: helm-controller
  releaseName: traefik-blue-variant
  dependsOn:
    - name: traefik-crds
      namespace: flux-system
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik-blue-variant
  interval: 1m0s
  install:
    crds: Skip
    remediation:
      retries: 3
  values:
    deployment:
      replicas: 3
    gateway:
      listeners:
        web:
          namespacePolicy:
            from: All
    ingressClass:
      enabled: true
      isDefaultClass: false
    ingressRoute:
      dashboard:
        enabled: true
        entryPoints:
        - traefik
        - web
        matchRule: Host(`traefik-blue-variant.${flux_eks_fqdn}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
    logs:
      access:
        enabled: true
        filters:
          statuscodes: 300-399,400-499,500-599
      general:
        format: json
        level: ERROR
    metrics:
      prometheus:
        service:
          enabled: true
          labels:
            app: traefik-blue-variant-metrics
            scrape-service-metrics: "true"
    ports:
      traefik:
        expose:
          default: true
        nodePort: ${flux_traefik_blue_target_admin_port}
      web:
        forwardedHeaders:
          insecure: true
        nodePort: ${flux_traefik_blue_target_http_port}
      websecure:
        expose:
          default: false
    priorityClassName: cluster-infrastructure
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
      kubernetesGateway:
        enabled: true
      kubernetesIngress:
        enabled: true
    resources:
      limits:
        memory: 512Mi
      requests:
        cpu: 150m
        memory: 512Mi
    service:
      enabled: true
      labels:
        scrape-service-metrics: "true"
      spec:
        externalTrafficPolicy: Cluster
      type: NodePort
