---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-nlb-aws-lb-controller
  namespace: aws-lb-controller
spec:
  serviceAccountName: helm-controller
  releaseName: traefik-nlb-aws-lb-controller
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  interval: 1m0s
  install:
    crds: Skip
    remediation:
      retries: 3
  values:
    deployment:
      replicas: 3
    ingressClass:
      enabled: true
      isDefaultClass: false
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`${flux_traefik_dashboard_ingress_host}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
        entryPoints: [traefik, web, websecure]
    service:
      type: ClusterIP
      enabled: true
      labels:
        scrape-service-metrics: "true"
      spec:
        externalTrafficPolicy: Cluster
    ports:
      traefik:
        port: 8090
        expose:
          default: true
        exposedPort: 8090
    metrics:
      prometheus:
        service:
          enabled: true
          labels:
            app: traefik-auth-alb-aws-lb-controller-metrics
            scrape-service-metrics: "true"
    logs:
      general:
        level: ERROR
        format: json
      access:
        enabled: true
        filters:
          statuscodes: "300-399,400-499,500-599"
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: true
      kubernetesGateway:
        enabled: true
    gateway:
      listeners:
        web:
          namespacePolicy:
            from: All
    priorityClassName: cluster-infrastructure
    resources:
      requests:
        cpu: 150m
        memory: 128Mi
      limits:
        memory: 128Mi
    extraObjects:
      - apiVersion: networking.k8s.io/v1
        kind: Ingress
        metadata:
          annotations:
            alb.ingress.kubernetes.io/backend-protocol: HTTP
            alb.ingress.kubernetes.io/certificate-arn: ${flux_traefik_certificate_arn}
            alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS":443}]'
            alb.ingress.kubernetes.io/load-balancer-name: ${flux_traefik_lb_name}
            alb.ingress.kubernetes.io/scheme: internet-facing
            alb.ingress.kubernetes.io/ssl-redirect: "443"
            alb.ingress.kubernetes.io/success-codes: 200-404
            alb.ingress.kubernetes.io/target-type: ip
            alb.ingress.kubernetes.io/healthcheck-port: '8090'
            alb.ingress.kubernetes.io/healthcheck-path: /ping
            alb.ingress.kubernetes.io/subnets: ${flux_traefik_subnets}
            external-dns.alpha.kubernetes.io/hostname: ${flux_traefik_ingress_hosts}
            alb.ingress.kubernetes.io/auth-type: oidc
            alb.ingress.kubernetes.io/auth-scope: openid
            alb.ingress.kubernetes.io/auth-on-unauthenticated-request: authenticate
            alb.ingress.kubernetes.io/auth-idp-oidc: '{
                "issuer":"https://login.microsoftonline.com/${flux_traefik_azure_tenant_id}/v2.0",
                "authorizationEndpoint":"https://login.microsoftonline.com/${flux_traefik_azure_tenant_id}/oauth2/v2.0/authorize",
                "tokenEndpoint":"https://login.microsoftonline.com/${flux_traefik_azure_tenant_id}/oauth2/v2.0/token",
                "userInfoEndpoint":"https://graph.microsoft.com/oidc/userinfo",
                "secretName":"${flux_traefik_k8s_secret_name}"
              }'
          name: ${flux_traefik_lb_name}
        spec:
          ingressClassName: alb
          rules:
          - http:
              paths:
              - backend:
                  service:
                    name: ${flux_traefik_lb_name}
                    port:
                      name: web
                path: /*
                pathType: ImplementationSpecific

      - apiVersion: v1
        kind: Secret
        metadata:
          name: ${flux_traefik_k8s_secret_name}
        data: # TODO: load from ExternalSecrets
          clientID:  ${flux_traefik_azure_app_client_id}
          clientSecret: ${flux_traefik_azure_app_client_secret}