---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-crds
  namespace: flux-system
spec:
  serviceAccountName: helm-controller
  releaseName: traefik-crds
  chart:
    spec:
      chart: traefik-crds
      version: 1.14.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  interval: 1m0s
  install:
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
  values:
    gatewayAPI: true
