---
# Source: external-dns/templates/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: external-dns
  namespace: external-dns
  labels:
    app.kubernetes.io/name: external-dns
    app.kubernetes.io/instance: external-dns
    app.kubernetes.io/managed-by: Helm
  annotations:
    eks.amazonaws.com/role-arn: ${flux_external_dns_role_arn}
automountServiceAccountToken: true
