---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-nlb-aws-lb-controller
  namespace: aws-lb-controller
spec:
  serviceAccountName: helm-controller
  releaseName: traefik-nlb-aws-lb-controller
  chart:
    spec:
      chart: traefik
      version: 37.4.0
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system
  interval: 1m0s
  install:
    crds: Skip
    remediation:
      retries: 3
  values:
    ingressClass:
      enabled: true
      isDefaultClass: false
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`${flux_traefik_nlb_aws_lb_controller}`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
        entryPoints: [traefik, web, websecure]
        tls:
          secretName: traefik-dashboard-nlb-aws-lb-ctl-tls
    service:
      enabled: true
      labels:
        scrape-service-metrics: "false"
      annotations:
        service.beta.kubernetes.io/aws-load-balancer-type: external
        service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"
        service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: ip
        service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
        service.beta.kubernetes.io/load-balancer-source-ranges: 0.0.0.0/0
        service.beta.kubernetes.io/aws-load-balancer-healthcheck-port: "8080"
        service.beta.kubernetes.io/aws-load-balancer-healthcheck-path: /ping
    logs:
      general:
        level: ERROR
        format: json
      access:
        enabled: true
        filters:
          statuscodes: "300-399,400-499,500-599"
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
      kubernetesIngress:
        enabled: true
      kubernetesGateway:
        enabled: true
    gateway:
      listeners:
        web:
          namespacePolicy:
            from: All
    priorityClassName: cluster-infrastructure
    resources:
      requests:
        cpu: 150m
        memory: 128Mi
      limits:
        memory: 128Mi
    additionalArguments:
      - --entryPoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.web.http.redirections.entryPoint.to=:443
    extraObjects:
      - apiVersion: cert-manager.io/v1
        kind: Certificate
        metadata:
          name: traefik-dashboard-nlb-aws-lb-ctl-tls
        spec:
          secretName: traefik-dashboard-nlb-aws-lb-ctl-tls
          privateKey:
            rotationPolicy: Always
          commonName: ${flux_traefik_nlb_aws_lb_controller}
          dnsNames:
            - ${flux_traefik_nlb_aws_lb_controller}
          usages:
            - digital signature
            - key encipherment
            - server auth
          issuerRef:
            name: letsencrypt
            kind: ClusterIssuer
