apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: karpenter
resources:
  - namespace.yaml
  - helm.yaml
  - nodes/ev2nodeclasses.yaml
  - nodes/pools/${flux_karpenter_node_pools:=prod}