---
# Source: kyverno/templates/tests/cleanup-controller-metrics.yaml
apiVersion: v1
kind: Pod
metadata:
  name: kyverno-cleanup-controller-metrics
  namespace: kyverno
  labels:
    app.kubernetes.io/component: test
    app.kubernetes.io/instance: kyverno
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/part-of: kyverno
  annotations:
    helm.sh/hook: test
spec:
  automountServiceAccountToken: true
  restartPolicy: Never
  containers:
    - name: test
      image: ghcr.io/kyverno/readiness-checker:v0.1.0
      imagePullPolicy: IfNotPresent
      resources:
        limits:
          cpu: 100m
          memory: 256Mi
        requests:
          cpu: 10m
          memory: 64Mi
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        privileged: false
        readOnlyRootFilesystem: true
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
        seccompProfile:
          type: RuntimeDefault
      args:
        - check-http
        - --service-name=kyverno-cleanup-controller-metrics
        - --namespace=kyverno
        - --port=8000
        - --path=metrics
