---
# Source: connect/templates/tests/health-check.yml
apiVersion: v1
kind: Pod
metadata:
  name: "1password-connect-health-check"
  namespace: null
  labels:
    app.kubernetes.io/name: connect
    app.kubernetes.io/instance: 1password-connect
    app.kubernetes.io/managed-by: Helm
  annotations:
    helm.sh/hook: test
    helm.sh/hook-weight: "1"
spec:
  restartPolicy: Never
  securityContext:
    fsGroup: 65532
    runAsGroup: 65532
    runAsNonRoot: true
    runAsUser: 65532
    seccompProfile:
      type: RuntimeDefault
  containers:
    - name: curl
      image: curlimages/curl:latest
      command: ["curl", "http://onepassword-connect:8080/health"]
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        readOnlyRootFilesystem: true
