---
# Source: connect/templates/tests/health-check.yml
apiVersion: v1
kind: Pod
metadata:
  name: "1password-connect-health-check"
  namespace: 1password-connect
  labels:
    app.kubernetes.io/name: connect
    app.kubernetes.io/instance: 1password-connect
    app.kubernetes.io/managed-by: Helm
  annotations:
    helm.sh/hook: test
    helm.sh/hook-weight: "1"
spec:
  restartPolicy: Never
  containers:
    - name: curl
      image: curlimages/curl:latest
      command: ["curl", "http://onepassword-connect:8080/health"]
